Repository wiyco/remix-template: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

eslint:
  run: npx eslint {staged_files} --fix
  stage_fixed: true
  skip:
  - merge
  - rebase

stylelint:
  run: npx stylelint {staged_files} --fix
  stage_fixed: true
  skip:
  - merge
  - rebase

prettier:
  run: npx prettier {staged_files} --write
  stage_fixed: true
  skip:
  - merge
  - rebase

chore(deps): package updates
  package-lock.json
Due: none

refactor(cn): rewrite param type
  app/utils/cn.ts
Due: eslint, prettier

chore(lefthook): fix no files matching the pattern
  lefthook.yml
Due: none

refactor: use inline exports
  app/utils/converter/num-to-short-string.ts
  app/utils/index.ts
  test/utils/num-to-short-string.test.ts
Due: eslint, prettier

refactor(cn): strict return type
  app/utils/cn.ts
Due: eslint, prettier

feat(utils): sleep function
  app/utils/index.ts
  app/utils/sleep.ts
Due: eslint, prettier

chore(tailwind): add stories path to content
  tailwind.config.ts
Due: eslint, prettier

refactor(cn): add docs
  app/utils/cn.ts
Due: eslint, prettier

test(cn): add tests
  app/utils/cn.test.ts
Due: eslint, prettier

refactor(sleep): review docs
  app/utils/sleep.ts
Due: eslint, prettier

test(sleep): add tests
  app/utils/sleep.test.ts
Due: eslint, prettier

delete: converter directory
  app/utils/converter/index.ts
  app/utils/converter/num-to-short-string.ts
  app/utils/index.ts
  test/utils/num-to-short-string.test.ts
Due: eslint, prettier

refactor(types): rename index file
  app/types/index.d.ts
  app/types/index.ts
Due: eslint, prettier

refactor(styles): add docs
  app/styles/common/_easings.scss
Due: stylelint, prettier

refactor(styles): add docs
  app/styles/common/_breakpoints.scss
Due: stylelint, prettier

refactor(consts): rename index file
  app/constants/index.ts
Due: eslint, prettier

chore(tsconfig): remove unnecessary paths
  tsconfig.json
Due: none

chore(vite): use faster sass
  package-lock.json
  package.json
  vite.config.mts
Due: none

chore(vscode): add recommend extensions
  .vscode/extensions.json
Due: none

chore(vscode): add specific languages
  .vscode/settings.json
Due: none

chore(scripts): story -> sb
  package.json
Due: none

chore(tailwind): add mdx to content
  tailwind.config.ts
Due: eslint, prettier

refactor(styles): separate base of tailwind
  app/styles/globals.scss
  app/styles/tailwind.scss
Due: stylelint, prettier

refactor(root): use absolute import
  app/root.tsx
Due: eslint, prettier

chore(storybook): only import tailwind styles for preview
  .storybook/preview.ts
Due: eslint, prettier

chore(deps): install tailwind-variants
  package-lock.json
  package.json
Due: none

chore(tailwind): extend aspect-ratio
  tailwind.config.ts
Due: eslint, prettier

feat(component): add sample card
  app/components/card/card-footer.tsx
  app/components/card/card-image.tsx
  app/components/card/card-text.tsx
  app/components/card/card.tsx
  app/components/card/index.ts
  app/components/index.ts
Due: eslint, prettier

feat(public): add sample image
  public/images/wiyco-avatar.webp
Due: none

delete: unused components
  app/components/FullScreen.tsx
  stories/components/FullScreen.stories.tsx
Due: eslint, prettier

feat(card): add stories
  stories/components/Card.stories.tsx
  stories/constants/index.ts
  stories/constants/urls.ts
Due: eslint, prettier

chore(scripts): format parallelly
  package.json
Due: none

chore(npm): enable pre-post scripts
  .npmrc
Due: none

chore(nvm): require node >=20.18
  .nvmrc
Due: none

chore(proto): require of node and npm
  .prototools
Due: none

chore(package): delete description
  package.json
Due: none

chore(version): v0.0.1
  package-lock.json
  package.json
Due: none

docs(readme): rewrite more rich
  README.md
Due: prettier

docs(readme): fix typos
  README.md
Due: prettier

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{css,scss}
  prettier: any of: *.{js,jsx,ts,tsx,css,scss,md}
