Repository wiyco/remix-template: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint, prettier

lefthook.yml:

# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,jsx,ts,tsx}"
      run: npx eslint {staged_files} --fix
      stage_fixed: true
      skip:
        - merge
        - rebase
      # Temporary workaround for the issue on Windows.
      # Error: No files matching the pattern were found
      # exclude:
      #   - "app/routes/*"

    stylelint:
      glob: "*.{css,scss}"
      run: npx stylelint {staged_files} --fix
      stage_fixed: true
      skip:
        - merge
        - rebase
      # Temporary workaround for the issue on Windows.
      # Error: No files matching the pattern were found
      # exclude:
      #   - "app/routes/*"

    prettier:
      glob: "*.{js,jsx,ts,tsx,css,scss,md}"
      run: npx prettier {staged_files} --write
      stage_fixed: true
      skip:
        - merge
        - rebase
      # Temporary workaround for the issue on Windows.
      # Error: No files matching the pattern were found
      # exclude:
      #   - "app/routes/*"

post-merge:
  commands:
    npm:
      glob: "{package.json}"
      run: npm i

refactor(card-image): remove unnecessary imports
  app/components/card/card-image.tsx
Due: eslint, prettier

chore(git): only ignore local env
  .gitignore
Due: none

chore(env): add sample env
  .env.example
Due: none

chore(lefthook): add mdx
  lefthook.yml
Due: none

feat: add array-to-object converter
  app/utils/conv/array/index.ts
  app/utils/conv/array/to-object.test.ts
  app/utils/conv/array/to-object.ts
  app/utils/conv/index.ts
  app/utils/index.ts
Due: eslint, prettier

feat(types): add utility types
  app/types/index.ts
  app/types/utils.ts
Due: eslint, prettier

refactor(styles): unwrap common
  app/styles/_breakpoints.scss
  app/styles/_easings.scss
Due: stylelint, prettier

chore(readme): remix v3 is now going to be released as react-router v7
  README.md
Due: prettier
